@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,500;1,700&display=swap');
:root{
	--primario-l: #2174ad;
	--secundario-l: #82c885;
	--terceario: #31a8f7;
	--cuaternario-l: #8f6ded;
	--background-l: #ebebeb;
    
    --text:#7C838A;
    --primario-d: #008dff;
	--secundario-d: #8df091;
	--cuaternario-d: #6c3bf4;
	--background-d: rgba(0, 0, 0, 0.75);
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .25s;
}
body {
    background-image: url("../media/FondoLoginLight.png");
    background-color: black;
    background-size: 100% 115%;
    background-repeat: no-repeat;
    margin:3vh 0px 0px 7vh;

}

.logo{
    background-image: url(/media/Logo_claro.png);
    background-size: 100% 100%;
    width: 40vw; height: 15vw;
    background-repeat: no-repeat;
    margin:0 auto;
    position: absolute;
    top: 10vw; right: 10vw;
}

#img {
    width: 10vh;
    position: absolute;
    left: 35vh;
    z-index: 2;
    left: 55vh;
    top: 7vh;
  
}
.container{
    padding: 3vw;
    color: white;
    width: 60vh;
    height: 90vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}
.boxLog {
    position: relative;
    align-items: center;
    height: 45vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.userBox {
    background: rgba(245, 245, 245, 0.4);
    border-radius: 20px;
    height: 5vh;
    width: 50vh;
    text-align: center;
}
.botones{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
}
.btn{
    width: 206.56px;
    height: 62.48px;
    background: #008DFF;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: white;
}
#btn_google{
    background: rgba(70, 104, 137, 0.75) url(../media/google.png) no-repeat 2vh;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    width: 222.82px;
    height: 49.75px;
    color: white;
    position: relative;
}

#l-mode:checked  ~ .container::before {
background: rgba(11, 12, 12, 0.5);
backdrop-filter: blur(10px);
border-radius: 25px;
transition: 2s;
  
}
#d-mode:checked + label>#img {
    display: none;
}
#l-mode:checked + label>#img {
    display: none;
}
#d-mode,#l-mode{
    display: none;
}
#l-mode:checked  ~ ::before{
    content: "";
    background:url(../media/Login\ dark.jpg) fixed no-repeat center;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

}

#l-mode:checked  ~ .logo{
    background-image: url("/media/Logo_dark.png") ;
    background-repeat: no-repeat;
    background-size: 100%;
}